<div class="col-xs-12 MasterHeaderCell navbar-fixed-top">
	<div id="TABLEHEADER_MPAGE" class="TableHeader">
		<div class="row">
			<div class="col-xs-4 col-sm-6 LogoCellFixedHeader">
				<img src="/bh_hml_quartzo/static/Resources/logo_branca.png" id="HEADER_MPAGE" alt="" class="ImageTop" >
			</div>
			<div class="col-xs-4 hidden-xs col-sm-6 TableUserRoleCell">
				<table id="TABLEUSERROLE_MPAGE" class="gx-tab-spacing-fix-2    TableAlignRightMaster" data-cellpadding="1" data-cellspacing="2">
					<tbody>
						<tr>
							<td class="gx-tab-padding-fix-1    MasterTopIconsCell">
								<div id="HTML_USERTABLE_ADMINAG_MPAGE" class="Section">
									<div class="gx_usercontrol DropDownOptionsHeader drop-down-options btn-group" id="DDO_ADMINAG_MPAGEContainer" style="display: inline-block;">
										<button id="DDO_ADMINAG_MPAGEContainer_btnGroupDrop" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
											<img src="/bh_hml_quartzo/static/Resources/UserInfo.png">
											<span>admin_geral</span>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="DDO_ADMINAG_MPAGEContainer_btnGroupDrop">

												<li>
													<div class="ddoMenuUserInfo">
														<div class="UserImageCell" >
															<img src="/bh_hml_quartzo/static/Resources/Avatar.png" />
														</div>
														<div class="UserInfoNameCell">
															<span class="UserInfoName">admin_geral</span>
														</div>
														<div class="UserInfoRoleCell">
															<span class="UserInfoRole"></span>
														</div>
													</div>
												</li>

											<li>
												<a href="#" data-toggle="dropdown" class="image">
													<i class="fa fa-lock FontIconTopRightActions"></i>
													<span>Alterar senha</span>
												</a>
											</li>
											<li>
												<a href="#" data-toggle="dropdown" class="image">
													<i class="fas fa-sign-out-alt FontIconTopRightActions"></i>
													<span>Sair</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 ShowMenuImageCell">
				<img src="/bh_hml_quartzo/static/Resources/MenuIcon.png"  id="SHOWMENU_MPAGE" alt="" class="ImageMenu" />
			</div>
		</div>
	</div>
</div>
